div.inputArea{
	width: 350px;
	float: left;
}

div.majorBoxes{
	height: 350px;
	overflow-y: scroll;
	float: left;
}

.resultArea{
	width: 724px;
	float: right;
	text-align: left;
}


table, td, th{
	border: 1px solid green;
	border-collapse:collapse;
}

tr.alt{
	background-color:#EAF2D3;
}

th{
	font: arial;
	color: white;
	background-color: #A7C942;
}

div.wholePage{
	width: 1100px;
	
}

div.sourcelinks{
	width: 350px;
	float: left;
}

h1{
	color:blue;
	margin-left: 400px;
	font-family: arial;
	font-style: bold;
	font-size: 25pt;
}

p.timeSpan{

}

p.result{
    color:red;
    text-align: left;
    font-family: arial;
}

p.input{
	outline-width: 3px;
	outline-style:dotted;
	outline-color:#ff0000;
}
